section {
    text-align: center;
    margin-top: 10px;
}

input {
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

.first-input {
    background-color: rgb(45, 92, 136);
    color: white;
    text-align: center;
    font-size: 20px;
}

.second-input {
    background-color: rgb(69, 151, 94);
    color: white;
    text-align: center;
    font-size: 20px;
} 

.shift-button, .color-button {
    font-size: 30px;
}

.div-section {
    display: flex;
    justify-content: center;
}

.color-shift {
   background-color: rgb(17, 104, 17);
   width: 250px;
   height: 150px;
   margin-right: 5px;
}

.multitext {
    display: flex;
    justify-content: center;
   
}

.text-transfer {
 display: flex;
 justify-content: center;
} 

section > ul {
    border: 1px solid black;
    width: 400px;
    font-size: 25px;
}

.create {
    box-sizing: border-box;
    margin-right: 5px;
}

.create-button {
    width: 100px;
    height: 220px;
    margin: 0;
    font-size: 25px;
}

.img-shift {
    height: 280px;
}

.p-del {
    border: 1px solid black;
    width: 500px;
    margin: auto;
    color: red;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(77, 77, 189);
}

ul {
    margin: auto;
}

.shuffle {
    color: red;
}